<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="/css/perfil.css">


    <title>Perfil</title>

</head>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="/images/logo/sw-brown.png">
                    <h2>Shopping <span> World </span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-symbols-sharp">
                        close
                        </span>
                </div>
            </div>
                <div class="sidebar">
                    <a href="/perfil" class="active">
                        <span class="material-symbols-sharp">
                            group
                            </span>
                            <h3>Perfil</h3>
                    </a>
                    <a href="/userped">
                        <span class="material-symbols-sharp">
                            list_alt
                            </span>
                            <h3>Pedidos</h3>
                    </a>                
                    <a href="/logout">
                        <span class="material-symbols-sharp">
                            logout
                            </span>
                            <h3>Salir</h3>
                    </a>
                </div>
           
        </aside>
        <!--END OF ASIDE SIDEBAR-->

        <main>
        
            <div class="container emp-profile">
                <form method="get">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="profile-img">
                                <img src="https://mejorconsalud.as.com/wp-content/uploads/2017/11/hombre-sonriendo-gafas.jpg" alt=""/>
                                <div class="file btn btn-lg btn-primary">
                                    Cambiar foto
                                    <input type="file" name="file"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="profile-head">
                                <% if (data) { %>
                                    <% data.forEach(function(item) {%>
                                <h1><%= item.Nombre%></h1>
                                <%})}%>


                            </div>
                        </div>

                    </div>
                    <div class="row">
                        
                        <div class="col-md-10">
                            <div class="tab-content profile-tab" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Usuario</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <% if (data) { %>
                                                        <% data.forEach(function(item) {%>
                                                    <p><%= item.user%></p>
                                                    <%})}%>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Nombre</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <% if (data) { %>
                                                        <% data.forEach(function(item) {%>
                                                    <p><%= item.Nombre%></p>
                                                    <%})}%>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Email</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <% if (data) { %>
                                                        <% data.forEach(function(item) {%>
                                                    <p><%= item.correo%></p>
                                                    <%})}%>                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Dirección</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <% if (data) { %>
                                                        <% data.forEach(function(item) {%>
                                                    <p><%= item.direccion%></p>
                                                    <%})}%>                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Número</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <% if (data) { %>
                                                        <% data.forEach(function(item) {%>
                                                    <p><%= item.numero%></p>
                                                    <%})}%>                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Género</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <% if (data) { %>
                                                        <% data.forEach(function(item) {%>
                                                    <p><%= item.genero%></p>
                                                    <%})}%>                                                </div>
                                            </div>

                                </div>
                                
                            </div>
                        </div>
                    </div>
                </form>           
            </div>


        
        </main>
        <!--end of main-->
        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-symbols-sharp">
                        menu
                        </span>
                </button>
                <div class="theme-toggler">
                    
                    <span class="material-symbols-sharp active">light_mode</span>
                    <span class="material-symbols-sharp">dark_mode</span>
                    
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hola, <% if (data) { %>
                            <% data.forEach(function(item) {%>
                        <b><%= item.user%></b>
                        <%})}%></p>
                        
                    </div>
                    <div class="profile-photo">
                        <img src="https://mejorconsalud.as.com/wp-content/uploads/2017/11/hombre-sonriendo-gafas.jpg" >
                    </div>
                </div>
            </div>
            <!--end of the top-->
           

        </div>
    </div>

    <script src="/js/dashboard-admin.js"></script>
</body>

</html>