<!DOCTYPE html>
<html class="no-js" lang="en">
 <link rel="stylesheet" href="/css/product-style.css">
  <%- include("parts/head") %>
  <body>
    <%- include("parts/nav") %>

    
  
  </head>
  <body>
    
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-7">

            <div class="content-watch">
              <div class="row no-gutters">
                <div class="col-lg-3 watch-model">
                  <form action="/sp" method="POST">
                  <p>
                    <img src="<%= Imagen1 %>" width="60" id="img1" alt="" />
                  </p>
                  <p>
                    <img src="<%= Imagen2 %>" width="60" id="img2" alt="" />
                  </p>

                </div>
                <div class="col-xl-9 preview">
                  <img
                    src="<%= Imagen1 %>"
                    class="img-fluid"
                    id="preview"
                    width="550"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            

            <div class="parameter">
              <h6 id="color" name="color"><%= Color %></h6>
              <h1 class="display-2" style="margin:10px 0; font-weight: 800; font-size: 3.3em;" ><%= Titulo %></h1>
              <p  id="titulo" name="titulo">MODELO: <%= Titulo %></p>
              <hr />
              <h6>COLOR</h6>
              <div class="row mt-4" style="padding: 15px 20px;">
                <i class="fa fa-circle text-light"></i>
                <i class="fa fa-circle text-warning ml-3"></i>
                <i class="fa fa-circle text-dark ml-3"></i>
              </div>
              <hr />
              <div class="detail">
                <h5>SIZE:<span id="talla" name="talla">M</span></h5>
                <h5>MATERIAL:<span><%= Color %></span></h5>
              </div>
              <hr />
              <div class="price">
                <h2>
                  <span id="precio" name="precio"><sup>$</sup></span
                  ><%= Precio %>
                </h2>
              </div>
              <div class="cart">
                <div class="row no-gutters">
                  <button type="submit" class="btn" style="font-weight: 700;"><a href="/shoppingcart" style="text-decoration: none;">AGREGAR AL CARRO</a> </i></button>
                
                </div>
                <p><%= Meesagge %></p>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  
    <!--hm-footer start-->
    <section class="hm-footer">
      <div class="container">
        <div class="hm-footer-details">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="hm-footer-widget">
                <div class="hm-foot-title">
                  <div class="logo">
                    <a class="navbar-brand" href="index.html">
                      <p
                        style="
                          color: #fff;
                          font-size: 30px;
                          padding: 0 0 0 70px;
                        "
                      >
                        WorldShop
                      </p>
                    </a>
                  </div>
                  <!-- /.logo-->
                </div>
                <!--/.hm-foot-title-->
                <div class="hm-foot-para">
                  <p>Conoce una nueva forma de comprar el mundo.</p>
                </div>
                <!--/.hm-foot-para-->
                <div class="hm-foot-icon">
                  <ul>
                    <li>
                      <a href="#"
                        ><i class="fa fa-facebook" aria-hidden="true"></i
                      ></a>
                    </li>
                    <!--/li-->
                    <li>
                      <a href="#"
                        ><i class="fa fa-google-plus" aria-hidden="true"></i
                      ></a>
                    </li>
                    <!--/li-->
                    <li>
                      <a href="#"
                        ><i class="fa fa-linkedin" aria-hidden="true"></i
                      ></a>
                    </li>
                    <!--/li-->
                    <li>
                      <a href="#"
                        ><i class="fa fa-twitter" aria-hidden="true"></i
                      ></a>
                    </li>
                    <!--/li-->
                  </ul>
                  <!--/ul-->
                </div>
                <!--/.hm-foot-icon-->
              </div>
              <!--/.hm-footer-widget-->
            </div>
            <!--/.col-->
            <div class="col-md-2 col-sm-6 col-xs-12">
              <div class="hm-footer-widget">
                <div class="hm-foot-title">
                  <h4>Referencias</h4>
                </div>
                <!--/.hm-foot-title-->
                <div class="footer-menu">
                  <ul class="">
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="about.html">Sobre Nosotros</a></li>
                    <li><a href="services.html">Servicios</a></li>
                    <li><a href="contact.html">Contacto</a></li>
                  </ul>
                </div>
                <!-- /.footer-menu-->
              </div>
              <!--/.hm-footer-widget-->
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="hm-footer-widget">
                <div class="hm-foot-title">
                  <h4>Our Newsletter</h4>
                </div>
                <!--/.hm-foot-title-->
                <div class="hm-foot-para">
                  <p class="para-news">
                    Suscríbete a nuestro newsletter y podrás conocer antes que
                    todos promociones, nuevas noticias y muchos más...
                  </p>
                </div>
                <!--/.hm-foot-para-->
                <div class="hm-foot-email">
                  <div class="foot-email-box">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Correo Electrónico"
                    />
                  </div>
                  <!--/.foot-email-box-->
                  <div class="foot-email-subscribe">
                    <button type="button">Vamos</button>
                  </div>
                  <!--/.foot-email-icon-->
                </div>
                <!--/.hm-foot-email-->
              </div>
              <!--/.hm-footer-widget-->
            </div>
            <!--/.col-->
          </div>
          <!--/.row-->
        </div>
        <!--/.hm-footer-details-->
      </div>
      <!--/.container-->
    </section>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
   
    <script>
      $(document).ready(function () {
        var img1 = $("#img1").attr("src");
        var img2 = $("#img2").attr("src");
        var img3 = $("#img3").attr("src");
        var img4 = $("#img4").attr("src");
        $("#img1").click(function () {
          $("#preview").fadeOut(0);
          $("#preview").stop().fadeIn(400).attr("src", img1);
        });
        $("#img2").click(function () {
          $("#preview").fadeOut(0);
          $("#preview").stop().fadeIn(400).attr("src", img2);
        });
        $("#img3").click(function () {
          $("#preview").fadeOut(0);
          $("#preview").stop().fadeIn(400).attr("src", img3);
        });
        $("#img4").click(function () {
          $("#preview").fadeOut(0);
          $("#preview").stop().fadeIn(400).attr("src", img4);
        });
      });
    </script>

    <%- include("parts/footer") %>
  </body>
</html>
